<div class="container">
  <div class="row">

<!-- carousel start -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let image of carImages" [class]="getClass(image)">
      <img src="{{imageBasePath}}{{image.imagePath}}" class="d-block w-100" alt="{{carDetail.carName}}">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- carousel end -->

<!-- table start -->
<table class="table table-striped table-hover table-bordered">
  <thead>
      <tr>
          <th>Brand</th>
          <th>Color</th>
          <th>Model Year</th>
          <th>Daily Price</th>
          <th>Description</th>
          <th>Function</th>

      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{carDetail.brandName}}</td>
          <td>{{carDetail.colorName}}</td>
          <td>{{carDetail.modelYear}}</td>
          <td>{{carDetail.dailyPrice}}</td>
          <td>{{carDetail.description}}</td>
          <td><button routerLink="/rentals/{{carDetail.carId}}" type="button" class="btn btn-success">Rent</button></td>
  
      </tr>
  </tbody>
  </table>
  <!-- table end -->

  </div>
</div>

