<div>
    <button type="button" (click)="goToAddForm()" class="btn btn-primary">Araba Ekle</button>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marka Id</th>
          <th scope="col">Model Id</th>
          <th scope="col">Renk Id</th>
          <th scope="col">Model Yılı</th>
          <th scope="col">Günlük Ücret</th>
          <th scope="col">Açıklama</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <th scope="row">{{car.id}}</th>
          <td>{{car.brandId}}</td>
          <td>{{car.modelId}}</td>
          <td>{{car.colorId}}</td>
          <td>{{car.modelYear}}</td>
          <td>{{car.dailyPrice}}</td>
          <td>{{car.description}}</td>
          <td><button (click)="goToUpdateForm(car)" type="button" class="btn btn-success">Güncelle</button></td>
          <td><button (click)="delete(car)" type="button" class="btn btn-danger">Sil</button></td>
        </tr>
      </tbody>
  </table>